### Load all the setlist datasets

In [80]:
import pandas as pd
import numpy as np
import fuzzy_pandas as fpd

path = '/Users/jonzimmerman/Desktop/Data Projects/Setlists/data/'
folder = 'setlists/'
dredg_setlists = pd.read_csv(path + folder + 'dredg_setlists.csv')
gorillaz_setlists = pd.read_csv(path + folder + 'gorillaz_setlists.csv')

ti1 = pd.read_csv(path + folder + 'tame_impala1_setlists.csv')
ti2 = pd.read_csv(path + folder + 'tame_impala2_setlists.csv')
tame_impala_setlists = pd.concat([ti1, ti2], axis=0)

tv_radio_setlists = pd.read_csv(path + folder + 'tv_on_the_radio_setlists.csv')
taylor_swift_setlists = pd.read_csv(path + folder + 'taylor_swift_setlists.csv')

### Load the lyrics dataset

In [81]:
lyrics = pd.read_csv(path + 'lyrics/lyrics_cleaned_final_2024-05-29.csv')
lyrics.shape

(1150, 12)

### Load all the album datasets

In [82]:
dredg_albums = pd.read_excel(path + 'albums/dredg_albums.xlsx')
gorillaz_albums = pd.read_excel(path + 'albums/gorillaz_albums.xlsx')
tame_impala_albums = pd.read_excel(path + 'albums/tame_impala_albums.xlsx')
tv_radio_albums = pd.read_excel(path + 'albums/tv_on_radio_albums.xlsx')
taylor_swift_albums = pd.read_excel(path + 'albums/taylor_swift_albums.xlsx')

### Step 1: Join set list data with album data

#### Artist 1/5: Dredg

In [115]:
dredg_setlists['ArtistName'] = 'Dredg'
dredg_setlists['SongName'] = np.where(dredg_setlists['SongName'].isna(),'',dredg_setlists['SongName'])
dredg = fpd.fuzzy_merge(dredg_setlists, dredg_albums,
            left_on=['ArtistName','SongName'],
            right_on=['artist','song'],
            method='levenshtein',
            threshold=0.6,
            join = 'left-outer',
            )

dredg = dredg.drop(columns=['artist', 'song'])
dredg = dredg.drop_duplicates(subset=['RecordID','song_num'])

print('Before:', dredg_setlists.shape)
print('After:', dredg.shape)

Before: (4070, 16)
After: (4070, 17)

#### Artist 2/5: Gorillaz

In [114]:
gorillaz_setlists['ArtistName'] = 'Gorillaz'
gorillaz_setlists['SongName'] = np.where(gorillaz_setlists['SongName'].isna(),'',gorillaz_setlists['SongName'])
gorillaz = fpd.fuzzy_merge(gorillaz_setlists, gorillaz_albums,
            left_on=['ArtistName','SongName'],
            right_on=['artist','song'],
            method='levenshtein',
            threshold=0.6,
            join = 'left-outer')

gorillaz = gorillaz.drop(columns=['artist', 'song'])
gorillaz = gorillaz.drop_duplicates(subset=['RecordID','song_num'])

print('Before:', gorillaz_setlists.shape)
print('After:', gorillaz.shape)

Before: (5910, 16)
After: (5910, 17)

#### Artist 3/5: Tame Impala

In [113]:
tame_impala_setlists['ArtistName'] = 'Tame Impala'
tame_impala_setlists['SongName'] = np.where(tame_impala_setlists['SongName'].isna(),'',tame_impala_setlists['SongName'])
tame_impala = fpd.fuzzy_merge(tame_impala_setlists, tame_impala_albums,
            left_on=['ArtistName','SongName'],
            right_on=['artist','song'],
            method='levenshtein',
            threshold=0.6,
            join = 'left-outer')

tame_impala = tame_impala.drop(columns=['artist', 'song'])
tame_impala = tame_impala.drop_duplicates(subset=['RecordID','song_num'])

print('Before:', tame_impala_setlists.shape)
print('After:', tame_impala.shape)

Before: (6772, 16)
After: (6772, 17)

#### Artist 4/5: TV on the Radio

In [110]:
tv_radio_setlists['ArtistName'] = 'TV on the Radio'
tv_radio_setlists['SongName'] = np.where(tv_radio_setlists['SongName'].isna(),'',tv_radio_setlists['SongName'])
tv_radio = fpd.fuzzy_merge(tv_radio_setlists, tv_radio_albums,
            left_on=['ArtistName','SongName'],
            right_on=['artist','song'],
            method='levenshtein',
            threshold=0.6,
            join = 'left-outer')

tv_radio = tv_radio.drop(columns=['artist', 'song'])
tv_radio = tv_radio.drop_duplicates(subset=['RecordID','song_num'])

print('Before:', tv_radio_setlists.shape)
print('After:', tv_radio.shape)

Before: (3825, 16)
After: (3825, 17)

#### Artist 5/5: Taylor Swift

In [108]:
taylor_swift_setlists['ArtistName'] = 'Taylor Swift'
taylor_swift_setlists['SongName'] = np.where(taylor_swift_setlists['SongName'].isna(),'',taylor_swift_setlists['SongName'])
taylor_swift = fpd.fuzzy_merge(
    taylor_swift_setlists, 
    taylor_swift_albums,
    left_on=['ArtistName','SongName'],
    right_on=['artist','song'],
    method='levenshtein',
    threshold=0.6,
    join = 'left-outer'
)

taylor_swift = taylor_swift.drop(columns=['artist', 'song'])
taylor_swift = taylor_swift.drop_duplicates(subset=['RecordID','song_num'])

print('Before:', taylor_swift_setlists.shape)
print('After:', taylor_swift.shape)

Before: (15031, 16)
After: (15031, 17)

### Step 2: Concatenate all the artist datasets

In [124]:
master_setlist_df = pd.concat([dredg, gorillaz, tame_impala, tv_radio, taylor_swift], axis=0)
master_setlist_df.shape

(35608, 17)

In [125]:
master_setlist_df.head(3)

,RecordID,Date,VenueName,TourName,Info,City,State,Country,Latitude,Longitude,SongName,Cover,Encore,URL,song_num,ArtistName,album
0,63c30e63,2014-05-03,Gruenspan,NaN,Second show of the day,Hamburg,Hamburg,Germany,53.55,10.0,Ode to the Sun,NaN,NaN,https://www.setlist.fm/setlist/dredg/2014/grue...,0,Dredg,Catch Without Arms
1,63c30e63,2014-05-03,Gruenspan,NaN,Second show of the day,Hamburg,Hamburg,Germany,53.55,10.0,Bug Eyes,NaN,NaN,https://www.setlist.fm/setlist/dredg/2014/grue...,1,Dredg,Catch Without Arms
2,63c30e63,2014-05-03,Gruenspan,NaN,Second show of the day,Hamburg,Hamburg,Germany,53.55,10.0,Catch Without Arms,NaN,NaN,https://www.setlist.fm/setlist/dredg/2014/grue...,2,Dredg,Catch Without Arms

### Step 3: Join artist dataframe to lyrics dataframe

In [123]:
lyrics = lyrics[['artist','title','cleaned_lyrics','happy','angry','surprise','sad','fear','compound']]

In [126]:
full_setlist_df = fpd.fuzzy_merge(
    master_setlist_df, 
    lyrics,
    left_on=['ArtistName','SongName'],
    right_on=['artist','title'],
    method='levenshtein',
    threshold=0.6,
    join = 'left-outer'
)

full_setlist_df = full_setlist_df.drop(columns=['artist', 'title'])
full_setlist_df = full_setlist_df.drop_duplicates(subset=['RecordID','song_num'])

print('Before:',master_setlist_df.shape)
print('After:',full_setlist_df.shape)

Before: (35608, 17)
After: (35608, 24)

In [127]:
#full_setlist_df.to_csv('full_setlist_df.csv')